input[type="text"] {
    width: 300px;
    padding: 6px;
    margin: 10px;
    font-size: 1.2em;
    border: 2px solid #333;
    border-radius: 3px;
}

button {
    padding: 8px;
    margin: 10px;

    border-radius: 2px;
    font-size: 1em;
}