* {
  border: 2px solid #000;
  margin: 20px 0;
}

header {
  height: 80px;
  background-color: orange;
  width: 100%;
}

aside {
  background-color: #ff0;
  display: inline-block;
  width: 20%;
}

section {
  float: left;
}

.main-content div {
  margin: 0;
  display: inline-block;
}

footer {
  background-color: #ffc0cb;
}

div {
  width: 79%;
  display: inline-block;
}

#one {
  background-color: #f0f8ff;
}

#two {
  background-color: #ff6347;
}

#three {
  background-color: #fa8072;
}

#four {
  background-color: #fff8dc;
}

#five {
  background: #7cfc00;
}
