#clock {
  text-align: center;
  font-family: helvetica;
  font-size: 10em;
  font-weight: 800;
  color: #fff;
  margin-top: 27%; }

* {
  background-color: red;
  transition: background-color 0.2s ease; }
